### To Load Libraries On Jupyter Notebook

In [1]:
import numpy as np
import pandas as pd

### To load the 'Ratings' and 'Movies' dataset after uploading them to Jupyter Notebook

In [2]:
ratings = pd.read_csv('/home/vanchhit/Desktop/Intellipaat self or live pace courses/PYTHON/Machine Learning/LECTURE-7-8211-IMPLEMENTING-SVD-FOR-RECOMMENDATION-ENGINE-USING-SURPRISELIB-02MAR2023154338/movielens/ratings.csv', usecols=['userId','movieId','rating','timestamp'])

In [3]:
movies = pd.read_csv('/home/vanchhit/Desktop/Intellipaat self or live pace courses/PYTHON/Machine Learning/LECTURE-7-8211-IMPLEMENTING-SVD-FOR-RECOMMENDATION-ENGINE-USING-SURPRISELIB-02MAR2023154338/movielens/movies.csv', usecols=['movieId','title','genres'])

In [4]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [5]:
ratings.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

### To find the unique number of users and movies in the 'Ratings' dataset

In [6]:
n_users = ratings.userId.unique().shape[0]

n_movies = ratings.movieId.unique().shape[0]

print(f'Number of users = {n_users} and Number of movies = {n_movies}')

Number of users = 7120 and Number of movies = 14026

### To create a rating matrix for the 'Ratings' dataset

In [7]:
Ratings = ratings.pivot(index = 'userId', columns ='movieId', values = 'rating').fillna(0)
Ratings.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,129350,129354,129428,129707,130052,130073,130219,130462,130490,130642
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,3.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### To install the scikit-surprise library for implementing SVD

In [9]:
# Import libraries from Surprise package
from surprise import Reader, Dataset, SVD
from surprise.model_selection import cross_validate

# Load Reader library
reader = Reader()

# Load ratings dataset with Dataset library
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)

# Use the SVD algorithm.
svd = SVD()

# Compute the RMSE of the SVD algorithm.
cross_validate(svd, data, measures=['RMSE', 'MAE'], cv=3, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 3 split(s).

                  Fold 1  Fold 2  Fold 3  Mean    Std
RMSE (testset)    0.8440  0.8482  0.8440  0.8454  0.0020
MAE (testset)     0.6463  0.6494  0.6473  0.6477  0.0013
Fit time          42.15   44.10   42.69   42.98   0.82
Test time         4.98    4.36    4.53    4.62    0.26

{'test_rmse': array([0.84402282, 0.84824175, 0.84404752]),
 'test_mae': array([0.64634887, 0.64939575, 0.64727011]),
 'fit_time': (42.14520573616028, 44.1026611328125, 42.68998622894287),
 'test_time': (4.975785255432129, 4.359140634536743, 4.532102108001709)}

In [10]:
# Print the head of ratings dataset
ratings.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

### To find all the movies rated as more than 4 stars by user with UserId = 1

In [11]:
ratings_1 = ratings[(ratings['userId'] == 1) & (ratings['rating'] >= 4)]
ratings_1 = ratings_1.set_index('movieId')
ratings_1 = ratings_1.join(movies)['title']
ratings_1.head(10)

movieId
151                                 Batman Forever (1995)
223                                      Dream Man (1995)
253                                         Junior (1994)
260                              Ladybird Ladybird (1994)
293                                   Pulp Fiction (1994)
296                                         Priest (1994)
318     Strawberry and Chocolate (Fresa y chocolate) (...
541                                          Harem (1985)
1036                                          Jude (1996)
1079                                       Top Gun (1986)
Name: title, dtype: object

### Train an SVD to predict ratings for user with UserId = 1

In [12]:
# Create a shallow copy for the movies dataset
user_1 = movies.copy()

#Reset the index for user_1 dataset
user_1 = user_1.reset_index()

# getting full dataset
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)

#create a training set for svd
trainset = data.build_full_trainset()
svd.fit(trainset)

#Predict the ratings for user1
user_1['Estimate_Score'] = user_1['movieId'].apply(lambda x: svd.predict(1, x).est)

#Drop extra columns from the user1 data frame
user_1 = user_1.drop(['movieId','genres','index'], axis = 1)

# Sort predicted ratings for user1 in descending order
user_1 = user_1.sort_values('Estimate_Score', ascending=False)

#Print top 10 recommendations
print(user_1.head(10))

                                                   title  Estimate_Score
3487                                    Gladiator (2000)        4.600640
12204                Elite Squad (Tropa de Elite) (2007)        4.559816
5508      Son of the Bride (Hijo de la novia, El) (2001)        4.553412
7041   Lord of the Rings: The Return of the King, The...        4.548664
4897   Lord of the Rings: The Fellowship of the Ring,...        4.544330
5853       Lord of the Rings: The Two Towers, The (2002)        4.543995
315                     Shawshank Redemption, The (1994)        4.534839
18528                                Intouchables (2011)        4.534036
3648                          Trouble in Paradise (1932)        4.532122
9497                Sea Inside, The (Mar adentro) (2004)        4.518773